name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  mix_test:
    runs-on: ubuntu-24.04
    env:
      MIX_ENV: test
      MUNINN_BUILD: "true"

    name: Elixir ${{ matrix.pair.elixir }} / OTP ${{ matrix.pair.otp }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              elixir: 1.18.4
              otp: "26.2"
          - pair:
              elixir: 1.18.4
              otp: "27.3"
          - pair:
              elixir: 1.19.3
              otp: "28.1.1"
            lint: lint

    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.pair.otp }}
          elixir-version: ${{ matrix.pair.elixir }}

      - name: Install minimal stable Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.85.0

      - name: Install Dependencies
        run: mix deps.get

      - run: mix format --check-formatted
        if: ${{ matrix.lint }}

      - run: mix deps.unlock --check-unused
        if: ${{ matrix.lint }}

      - run: mix deps.compile

      - run: mix compile --warnings-as-errors
        if: ${{ matrix.lint }}

      - run: mix test

      - name: run rustfmt
        run: cargo fmt --manifest-path=native/muninn/Cargo.toml --all -- --check

      - name: run clippy
        run: cargo clippy --manifest-path=native/muninn/Cargo.toml -- -Dwarnings
